ul {
	width: 48%;
	min-width: 550px;
	padding: 20px;
	line-height: 1.75;
	box-sizing: border-box;
	display: inline-block;
}

p {
	font-size: 18px;
	color: #333;
}

span {
	display: block;
	font-size: 16px;
	color: #999;
}